@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Global */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

h1 {
    margin: 69px 0 0;
    font-size: 30px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

h2,
h3 {
    margin: 0;
    font-weight: 700;
}


h2 {
    margin: 0 0 20px 0;
    font-size: 20px;
    color: #b3b3b3;
    text-transform: uppercase
}

h3 {
    font-size: 18px;
    color: #1f222c;
}

hr {
    margin: 0;
    border: none;
    border-bottom: solid 1px #dcdcde;
}

table {
    width: 100%;
}

td {
    box-sizing: border-box;
}

textarea {
    min-height: 130px;
    max-height: 260px;
    resize: vertical;
}

.block {
    margin: 45px 0 50px;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.input-text,
.input-date,
.select,
.textarea {
    margin: 5px 5px 5px 0;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
    border: solid 1px #ccc;
    border-radius: 3px;
}

.input-text::-webkit-input-placeholder,
.select::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
    color: #b3b3b3;
}

.input-text,
.textarea {
    padding: 12px 15px 10px 15px;
}

.select {
    padding: 13px 15px 11px 15px;
}

.input-date {
    padding: 11px 15px 9px 15px
}

.input-submit {
    margin-top: 1px;
    padding: 13.5px 15px 13.5px 15px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    border: none;
    background-color: #12d661;
    border-radius: 3px;
    transition: all .5s ease;
}

.input-submit:hover {
    box-shadow: 0px 2px 2.5px rgba(8,118,52,0.35);
    background-color: #07be51;
}

.input-text:focus,
.input-date:focus,
.textarea:focus,
.select:focus {
    outline: none;
    border: 1px solid #3e6aff;
    box-shadow: 0 0 2.5px rgba(62,106,255,0.55);
}

.select {
    appearance: none;
    -webkit-appearance: none;
    z-index: 1;
    position: relative;
    background-color: transparent;
}

.label-select {
    position: relative;
    display: inline-block;
    width: 100%;
    transition: all .5s ease;
    border-radius: 3px;
    background-color: #fff;
}

.label-select::before {
    content: "";
    position: absolute;
    right: 14px;
    top: 24px;
    z-index: 0;
    border: 4.5px solid transparent;
    border-top-color: #1f222c;
}

.input-checkbox,
.input-radio,
.input-checkbox-slyled,
.input-radio-styled {
    display: none;
}

.input-radio + label,
.input-checkbox + label {
    position: relative;
    padding: 0 25px;
}

.input-radio:disabled + label,
.input-checkbox:disabled + label {
    color: #b3b3b3;
}

.input-radio + label::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid #3e6aff;
}

.input-radio:disabled + label::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.input-radio:checked + label::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 4px;
    top: 4px;
    width: 7px;
    height: 7px;
    border-radius: 4px;
    background-color: #3e6aff;
}

.input-checkbox + label::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.input-checkbox:checked + label::before {
    border: 1px solid #3e6aff;
}

.input-checkbox:disabled + label::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 5px;
    top: 4px;
    width: 7px;
    height: 5px;
    transform: rotate(-45deg);
    border-left: 2px solid #244dd7;
    border-bottom: 2px solid #244dd7;
}

/* 01. проста форма */

.form-simple-1 {
    width: 330px;
}

.form-simple-1 .input-submit {
    width: 100%;
}

.form-simple-1 .select option:first-child {
    display: none;
}

/* 02. елементи */

.form-elements-2 > form {
    display: flex;
    justify-content: space-between;
}

.form-elements-2 > form > div:nth-child(3) > div:nth-child(1) > div {
    display: inline-block;
}

.form-elements-2 > h2 {
    margin-bottom: 36px;
}

.radio-nova_poshta,
.radio-courier,
.checkbox-read,
.checkbox-agree {
    margin-bottom: 10px;
}

.form-elements-2 .status-date {
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.status-date > div:first-child {
    padding: 20px 20px 0 20px;
}

.status-date > div:last-child {
    padding: 14px 20px 20px 20px;
}

.status-date > div:last-child > div {
    display: inline-block;
}

.status-date > div:first-child > div:last-child > label {
    padding-right: 0;
}

.status-date span {
    color: #b3b3b3;
    font-weight: 700;
}

.status-date > div:first-child > span {
    padding-right: 31px;
}

.status-date > div:last-child > span {
    padding-right: 42px;
}

.input-date {
    width: 148px;
    margin: 0;
}

/* 03. стилізовані чекбокси */

.form-checkbox-3 form {
    display: flex;
}

.input-radio-styled + label {
    position: relative;
    padding: 30px 30px 30px 85px;
    display: block;
    font-size: 16px;
    font-weight: 700;
}

.input-radio-styled + label::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    top: 0;
    border-radius: 35px;
    background-color: black;
}

/* 04. форма таблицею */

.form-table-4 {
    width: 500px;
}

.form-table-4 .input-submit {
    width: 100%;
}

/* 05. форма таблицею */

.form-table-5 {
    width: 680px;
}

.form-table-5 form div {
    display: flex;
    justify-content: space-between;
}

/* 06. фіксована форма */

.form-fixed-6 {
    width: 309px;
}

.form-fixed-6 form {
    width: 260px;
}

.form-fixed-6 .input-checkbox,
.form-fixed-6 .input-submit {
    display: block;
}

.form-fixed-6 .input-submit {
    width: 100%;
}

