@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Global */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

h1 {
    margin: 69px 0 0;
    padding-bottom: 19px;
    font-size: 30px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

h2,
h3 {
    margin: 0;
    font-weight: 700;
}


h2 {
    margin: 0 0 20px 0;
    font-size: 20px;
    color: #b3b3b3;
    text-transform: uppercase
}

h3 {
    font-size: 18px;
    color: #1f222c;
}

hr {
    margin: 0;
    border: none;
    border-bottom: solid 1px #dcdcde;
}

table {
    width: 100%;
}

td {
    box-sizing: border-box;
    padding: 1.5px;
}

textarea {
    min-height: 130px;
    max-height: 260px;
    resize: vertical;
}

.block {
    margin: 45px 0 50px;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

.input-text,
.input-date,
.select,
.textarea {
    margin: 5px 5px 5px 0;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
    border: solid 1px #ccc;
    border-radius: 3px;
}

.input-text::-webkit-input-placeholder,
.select::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
    color: #b3b3b3;
}

.input-text,
.textarea {
    padding: 12px 14px 10px 14px;
}

.select {
    padding: 12px 14px 10px 14px;
}

.form-table-5 .select {
    padding: 13px 14px 11px 14px;
}

.form-table-5 .input-submit {
    margin: 0;
}

/* .select {
    padding: 13px 14px 11px 14px;
} */

.input-date {
    padding: 11px 15px 9px 15px
}

.input-submit {
    margin-top: 1px;
    padding: 13px 15px 13px 15px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 700;
    border: none;
    background-color: #12d661;
    border-radius: 3px;
    transition: all .5s ease;
}

.input-submit:hover {
    box-shadow: 0px 2px 2.5px rgba(8,118,52,0.35);
    background-color: #07be51;
}

.input-text:focus,
.input-date:focus,
.textarea:focus,
.select:focus {
    outline: none;
    border: 1px solid #3e6aff;
    box-shadow: 0 0 2.5px rgba(62,106,255,0.55);
}

.select {
    appearance: none;
    -webkit-appearance: none;
    z-index: 1;
    position: relative;
    background-color: transparent;
}

.label-select {
    position: relative;
    display: inline-block;
    width: 100%;
    transition: all .5s ease;
    border-radius: 3px;
    background-color: #fff;
}

.label-select::before {
    content: "";
    position: absolute;
    right: 14px;
    top: 24px;
    z-index: 0;
    border: 4.5px solid transparent;
    border-top-color: #1f222c;
}

.input-checkbox,
.input-radio,
.input-checkbox-slyled,
.input-radio-styled {
    display: none;
}

.input-radio + label,
.input-checkbox + label {
    position: relative;
    padding: 0 25px;
}

.input-radio:disabled + label,
.input-checkbox:disabled + label {
    color: #b3b3b3;
}

.input-radio + label::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.input-radio:checked + label::before {
    border: 1px solid #3e6aff;
}

.input-radio:disabled + label::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.input-radio:checked + label::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 4px;
    top: 4px;
    width: 7px;
    height: 7px;
    border-radius: 4px;
    background-color: #3e6aff;
}

.input-checkbox + label::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: -1px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.input-checkbox:checked + label::before {
    border: 1px solid #3e6aff;
}

.input-checkbox:disabled + label::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 5px;
    top: 4px;
    width: 7px;
    height: 5px;
    transform: rotate(-45deg);
    border-left: 2px solid #244dd7;
    border-bottom: 2px solid #244dd7;
}

/* 01. проста форма */

.form-simple-1 {
    width: 330px;
}

.form-simple-1 .input-submit {
    width: 100%;
}

.form-simple-1 .select option:first-child {
    display: none;
}

/* 02. елементи */

.form-elements-2 > form {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-elements-2 > form > div:nth-child(3) > div:nth-child(1) > div {
    display: inline-block;
}

.form-elements-2 > h2 {
    margin-bottom: 36px;
}

.radio-nova_poshta,
.radio-courier,
.checkbox-read,
.checkbox-agree {
    margin-bottom: 10px;
}

.form-elements-2 .status-date {
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.status-date > div:first-child {
    padding: 20px 20px 0 20px;
}

.status-date > div:last-child {
    padding: 14px 20px 20px 20px;
}

.status-date > div:last-child > div {
    display: inline-block;
}

.status-date > div:first-child > div:last-child > label {
    padding-right: 0;
}

.status-date span {
    color: #b3b3b3;
    font-weight: 700;
}

.status-date > div:first-child > span {
    padding-right: 31px;
}

.status-date > div:last-child > span {
    padding-right: 42px;
}

.input-date {
    width: 148px;
    margin: 0;
}

/* 03. стилізовані чекбокси */

.form-checkbox-3 > h2 {
    margin-bottom: 31px;
}

.form-checkbox-3 form {
    display: flex;
    gap: 270px;
}

.form-checkbox-3 {
    margin-bottom: 48px;
}

.input-radio-styled + label {
    position: relative;
    padding: 26px 30px 26px 85px;
    display: block;
    font-size: 16px;
    font-weight: 700;
}

.input-radio-styled:hover + label {
    color: #3e6aff;
}

.input-radio-styled:checked + label {
    color: #3e6aff;
}


.input-radio-styled + label::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    top: -1px;
    border-radius: 35px;
}

.input-radio-styled.man + label::before {
    background-image: url(../img/man.png);
}

.input-radio-styled.man:hover + label::before {
    background-image: url(../img/man-checked.png);
}

.input-radio-styled.man:checked + label::before {
    background-image: url(../img/man-checked.png);
}

.input-radio-styled.woman + label::before {
    background-image: url(../img/woman.png);
}

.input-radio-styled.woman:hover + label::before {
    background-image: url(../img/woman-checked.png);
}

.input-radio-styled.woman:checked + label::before {
    background-image: url(../img/woman-checked.png);
}

.gender-styled {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.checkbox-styled {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
}

.input-checkbox-slyled + label {
    position: relative;
    display: block;
    padding: 6px 0 6px 64px;
}

.input-checkbox-slyled + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 45px;
    height: 25px;
    border-radius: 12px;
    background-color: #cfcfd1;
    transition: all .5s ease;
}

.input-checkbox-slyled:checked + label::before {
    background-color: #3e6aff;
}

.input-checkbox-slyled + label::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    height: 21px;
    border-radius: 11px;
    background-color: #fff;
    transition: all .5s ease;
}

.input-checkbox-slyled:checked + label::after {
    left: 22px;
    filter: drop-shadow(0 0 2.5px rgba(0,0,0,0.5));
}

/* 04. форма таблицею */

.form-table-4 {
    width: 500px;
}

.form-table-4.block {
    margin-bottom: 47px;
}

.form-table-4 h2 {
    margin-bottom: 29px;
}

.form-table-4 h3 {
    margin-bottom: 17px;
}

.form-table-4 .input-submit {
    width: 100%;
}

.tr-comment > td:first-child {
    padding-top: 20px;
    vertical-align: top;
}

.tr-gender > td:last-child {
    padding: 11.5px 0 10.5px;
}

.tr-photo > td:first-child {
    vertical-align: top;
    padding: 18px 0 23px;
}

.tr-photo > td:last-child {
    padding-top: 6px;
    vertical-align: top;
}

.input-file {
    display: none;
}

.input-file + label {
    display: inline-block;
    padding: 13px 36px 11px 36px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    background-color: #3e6aff;
}

/* 05. форма таблицею */

.form-table-5 {
    width: 680px;
    border-collapse: collapse;
}

.form-table-5 h2 {
    margin-bottom: 28px;
}

.form-table-5 h3 {
    margin-bottom: 17px;
}

.form-table-5 td {
    padding: 0;
}

.form-table-5 form div {
    display: flex;
    justify-content: space-between;
}

.form-table-5 tr > td:first-child {
    padding-right: 4px;
}

.form-table-5 tr > td:nth-child(2) {
    padding: 0 4px 0;
}

.form-table-5 tr > td:last-child {
    padding: 0 0 0 4px;
}

.form-table-5 .hr-1 {
    margin: 23px 0 20px 0;
}

.form-table-5 .hr-2 {
    margin: 23px 0 30px 0;
}

.form-table-5 .label-select::after {
    content: "";
    position: absolute;
    right: 36px;
    top: 16px;
    width: 1px;
    height: 19px;
    background-color: #ccc
}

.form-table-5 tbody > tr:nth-child(3) > td {
    padding-top: 8px;
}

.tr-headline {
    font-size: 13px;
    color: #b3b3b3;
}

.tr-headline > td {
    padding-bottom: 0px;
}

.table-agree {
    margin-top: 17px;
}

.input-reset {
    padding: 13px 25px 12px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #85868d;
    font-size: 14px;
    color: #6e6f77;
    font-weight: 700;
    }

.reset-submit {
    margin-bottom: 50px;
}

/* 06. фіксована форма */

.form-fixed-6 {
    content: "";
    position: fixed;
    width: 309px;
    top: 172px;
    right: 10%;
}

.form-fixed-6 form {
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.15);
}

.form-fixed-6 form > div {
    width: 260px;
    padding: 21px 24px 20px 24px;
    border-radius: 5px;
}

.form-fixed-6 .input-checkbox,
.form-fixed-6 .input-submit {
    display: block;
}

.form-fixed-6 .input-submit {
    width: 100%;
}

.form-fixed-6 a {
    display: block;
    padding: 5px 0 13px;
    text-decoration: none;
    color: #3e6aff;
    font-size: 13px;
}

.form-fixed-6 a:hover {
    text-decoration: underline;
}

.form-fixed-6 .input-checkbox {
    display: none;
}

.form-fixed-6 .input-submit {
    margin: 15px 0 0 0;
}

.form-fixed-6 .input-checkbox + label {
    font-size: 13px;
}

.form-fixed-6 .close-checkbox {
    display: none;
    position: relative;
}

.close-checkbox + label::before {
    content: "";
    position: absolute;
    right: 15px;
    top: 55px;
    width: 2px;
    height: 12px;
    transform: rotate(45deg);
    background-color: #b3b3b3;
}

.close-checkbox:hover + label::before {
    background-color: #949494;
}

.close-checkbox + label::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 55px;
    width: 2px;
    height: 12px;
    transform: rotate(-45deg);
    background-color: #b3b3b3;
}

.close-checkbox:hover + label::after {
    background-color: #949494;
}

.close-checkbox:checked + label {
    display: none;
}


